NEXT_PUBLIC_CONVEX_URL=https://gian-wfhdale-786.convex.cloud
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_tesdsDt_bS10YdyLTg5dLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_Ld91eydsfasJaid6asdfasdfYKThV9ffGN6iBC8JKLABfLHyZ0